/* ------ venobox.css --------*/
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after{
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
/* ------- overlay: change here background color and opacity ----- */
.vbox-overlay{
    background: rgba(11,11,11,0.85);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
/* ----- preloader - choose between CIRCLE, IOS, DOTS, QUADS ----- */

/* circle preloader */
.vbox-preloader{
    position:fixed; 
    width:38px; 
    height:38px;
    left:50%; 
    top:50%; 
    margin-left:-16px; 
    margin-top:-16px;
    background-image: url(../images/tail-spin.svg);
    text-indent: -100px;
    overflow: hidden;
}

/* ----- navigation ----- */
.vbox-close{
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    min-width: 50px;
    display: block;
    z-index: 1;
    color: #FFF;
    overflow: hidden;
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    padding: 6px 10px;
}

.vbox-prev{
    left: 0;
}
.vbox-next{
    right: 0;
}

.vbox-title{
    width: 100%;
    height: 50px;
    font-weight: 600;
    float: left;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    color: #FFF;
    padding: 6px 40px;
    overflow: hidden;
    background: rgba(38,41,46,1);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}

.vbox-num{
    cursor: inherit;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    min-width: 50px;
    text-align: center;
    display: block;
    color: #FFF;
    z-index: 1;
    font-weight: 500;
    overflow: hidden;
    line-height: 38px;
    font-size: 12px;
    padding: 6px 10px;
    display: none;
}
/* ------- inline window ------ */
.vbox-inline{
    width: 420px;
    height: 315px;
    padding: 10px;
    background: #fff;
    text-align: left;
    margin: 0 auto;
    overflow: auto;
}

/* ------- Video & iFrames window ------ */
.venoframe{
    border: none;
    width: 960px;
    height: 720px;
}
@media (max-width: 992px) {
    .venoframe{
        width: 640px;
        height: 480px;
    }
}
@media (max-width: 767px) {
    .venoframe{
        width: 420px;
        height: 315px;
    }
}
@media (max-width: 460px) {
    .vbox-inline{
        width: 100%;
    }

    .venoframe{
        width: 100%;
        height: 260px;
    }
}

/* ------- Be careful if you want to edit the next part / Usually it's not necessary ------ */

.vbox-open{
    overflow: hidden;
}
.vbox-container{
    position: relative;
    background: #000;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.vbox-content{
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.vbox-container img{
    max-width: 100%;
    height: auto;
}