---
layout: default
---

<div id="main">

    <!-- 1st Section -->
    <section id="countdown">
        <div data-sr>

            <header class="major">
                <h2>OXYTOC<br>
                    <small>
                        game development team
                    </small>
                </h2>
            </header>

            <p>Oxytoc is a independent game development team from Ukraine, with can help you bring you ideas to life.
                Our team are focused on mobile games, more then 164 millions of gamers require new fresh and interesting
                games on this platform.
                Our goal is provide best quality of game development with all our projects.</p>

        </div>
        <!-- /data-sr -->
    </section>
    <!-- #countdown -->

    <!-- 2nd Section -->
    <section id="about">
        <div data-sr>

            <header class="major">
                <h2>Our occupation<br>
                    <small>Mobile cross-platform game development</small>
                </h2>
            </header>

            <p>In our work we use very popular and extremely powerful game engine – Unity3D. Based on this engine we can
                create completely new game from scratch or complete and extend already existent project.
                Not mater is 2D or 3D game you need our team will help you go troth all development process and make you
                mobile game project be successful.</p>

            <div class="row">

                <div class="variant col-xs-12 col-sm-2 col-lg-2">
                    <a href="http://unity3d.com" target="_blank">
                        <img src="images/icons/unity3d.png" alt="" class="img-responsive">
                        <!-- <small>Unity 3D</small> -->
                    </a>
                </div>

                <div class="variant col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://play.google.com" target="_blank">
                        <img src="images/icons/android.png" alt="" class="img-responsive">
                        <!-- <small>Android</small> -->
                    </a>
                </div>

                <div class="variant col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://itunes.apple.com" target="_blank">
                        <img src="images/icons/apple.png" alt="" class="img-responsive">
                        <!-- <small>Apple iOS</small> -->
                    </a>
                </div>

            </div>

        </div>
        <!-- /data-sr -->
    </section>
    <!-- #about -->

    <!-- 2nd Section -->
    <section id="team">
        <div data-sr>

            <header class="major">
                <h2>TEAM<br>
                    <small>Oxytoc game development team</small>
                </h2>
            </header>

            <div id="portraits" class="row hidden">

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/evgeniy-demidchenko/37/1/710" target="_blank">
                        <img src="images/team_members/eugin.jpg" alt="" class="img-responsive">
                        <h6>Evgeniy Demidchenko</br>Game Developer</h6>
                    </a>
                </div>

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/artem-shatalov/43/840/327/en" target="_blank">
                        <img src="images/team_members/arty.jpg" alt="" class="img-responsive">
                        <h6>Artem Shatalov</br>Artist</h6>
                    </a>
                </div>

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/svetlana-m/69/454/b14/en" target="_blank">
                        <img src="images/team_members/sveta.jpg" alt="" class="img-responsive">
                        <h6>Svetlana Moiseyenko</br>Game Developer</h6>
                    </a>
                </div>

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/alexander-vasileyko/63/152/5a0" target="_blank">
                        <img src="images/team_members/alex.jpg" alt="" class="img-responsive">
                        <h6>Alexander Vasileyko</br>Game Developer</h6>
                    </a>
                </div>

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/irina-vysher/74/aa4/b29/en" target="_blank">
                        <img src="images/team_members/ira.jpg" alt="" class="img-responsive">
                        <h6>Irina Vysher</br>Artist</h6>
                    </a>
                </div>

                <div class="variant dev-portrait col-xs-12 col-sm-2 col-lg-2">
                    <a href="https://ua.linkedin.com/pub/andery-vysher/69/a5/698" target="_blank">
                        <img src="images/team_members/ander.jpg" alt="" class="img-responsive">
                        <h6>Andrey Vysher</br>Game Developer</h6>
                    </a>
                </div>

            </div>

        </div>
        <!-- /data-sr -->
    </section>
    <!-- #about -->

    <!-- 5th Section -->
    <section id="contact">
        <div data-sr>
            <header class="major">
                <h2>Contact Us</h2>
            </header>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <a href="mailto:team@oxytoc.com">team@oxytoc.com</a><br>
                </div>
            </div>

        </div>
        <!-- /data-sr -->
    </section>
    <!-- #contact -->

</div>
