<!-- Footer -->
<footer id="footer" class="animated-middle">

  <ul class="icons">
    <li><a href="https://www.facebook.com/oxytoc" class="icon" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/oxytoc" class="icon" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/oxytoc-com" class="icon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://plus.google.com/u/0/115391506335582858488" class="icon" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://github.com/Oxytoc" class="icon" target="_blank"><i class="fa fa-github"></i></a></li>
    <!--<li><a href="#" class="icon"><i class="fa fa-behance"></i></a></li>-->
    <!--<li><a href="#" class="icon"><i class="fa fa-pinterest"></i></a></li>-->
  </ul>

  <p class="copyright">
      Copyright &copy; 2015 OXYTOC<br>
    <span>All rights reserved.</span>
  </p>

</footer>

<!-- Flat Surface Shader settings -->
<script>
  var ambient_value = '#00aeef'; // ambient color
  var diffuse_value = '#00aeef'; // diffuse color
</script>

<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
<!-- ********** Resources jQuery ********** -->
<!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- Responsive jQuery lightbox plugin -->
<!-- <script src="/js/venobox.js"></script> -->

<!-- CountDown jQuery plugin -->
<!-- <script src="/js/countdown.js"></script> -->

<!-- Twitter Feed plugin -->
<!-- <script src="/js/tweetie.js"></script> -->

<!-- Contact form plugin -->
<!-- <script src="/js/contact-me.js"></script> -->

<!-- Newsletter plugin -->
<!-- <script src="/js/notifyMe.js"></script> -->

<!-- Google Maps API -->
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false"></script> -->

<!-- Smooth Scroll plugin -->
<!-- <script src="/js/SmoothScroll.js"></script> -->

<!-- Reveal elements as they enter the viewport -->
<!-- <script src='/js/scrollReveal.js'></script> -->

<!-- Flat Surface Shader jQuery plugin -->
<!-- <script src='/js/fss.js'></script> -->
<!-- <script src='/js/custom-fss.js'></script> -->

<!-- Main JS / Custom Plugins -->
<script src="/js/main.js"></script>

<!--[if lt IE 10]>
<script type="text/javascript" src="/js/placeholder.js"></script><![endif]-->

<!-- Google analytics code Section -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66902645-1', 'auto');
  ga('send', 'pageview');

</script>
