<!-- Flat Surface Shader background -->
<div id="container">
  <!-- <div id="output" class="back-fss"></div> -->
</div>

<!-- Left Part / Header -->
<!-- <header id="header" class="header-fss animated-middle"> -->
<header id="header" class="header-fss zerg">

  <!-- Your logo, link added to go back to the top when the user click on it -->
  <a href="/" class="image avatar">
    <img src="images/oxytoc_logo_white.png" alt="Oxytoc logo"/>
  </a>

  <!-- <h1>Oxytoc</h1> -->

  <!-- <h2>you are faster than us,<br>
    we're working on our new website.</h2> -->

  <!-- <h3>Scroll for more informations</h3> -->

</header>
