<div class="loading animated-middle">
  <!-- Uncomment the line below to display your logo during the loading -->
  <!-- <img src="images/logo.png" alt="" /> -->

  <div class="center-loading"></div>
  <div class="center-bis-loading"></div>
</div>
