h2 > small {
	display: block;
	margin: 1em 0;
	line-height: 1em;
}

#fss-part {
  background: transparent !important;
}

#container {
  height: 100%;
  position: fixed;
  z-index: -10;
  width: 100%;
  top: 0;
  left: 0
}

.back-fss {
  height: 100%;
  position: absolute;
  width: 100%;
}

.dev-portrait {
	text-align: center;

	img {
		border-radius: 1000px;
	}

	h6 {
		margin-top: .7em
	}
}

.zerg {
	background-size: cover !important;
	background-image: url(../images/zerg.jpg) !important;
	background-repeat: no-repeat !important;
}
