/*
* HELITE - The Swiss Army Knife of Coming Soon Templates
* Build Date: June 2015
* Author: Madeon08
* Copyright (C) 2015 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/

/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Loading
    3. Left part
        3.1 Header
        3.2 Footer
    4. Main part
        4.1  COUNTDOWN
        4.2  ABOUT
        4.3  SERVICES
        4.4  PRICING
        4.5  CONTACT
        4.6  NEWSLETTER
        4.7  INFO
        4.8  YOUTUBE
        4.9  TWITTER FEED
        4.10 MAP
    5. Venobox Gallery
    6. Scroll Arrows
    7. Media Queries
*/

/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */

// http://bourbon.io/ Sass Mixin Library
@import "bourbon/bourbon";

// colors, fonts, sizes etc...
@import "vars";

// custom mixins
@import "mixins";

// team styles
@import "oxytoc";

/*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */

body {
    background: $white;
    font-family: $font-family;
    // @include font-smoothing;
}

body, html {
    width: 100%;
}

body, input, select, textarea {
    // @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    color: $oxytoc-black;
    font-size: 16pt;
    line-height: 1.75em;
}

a {
    // @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $oxytoc-blue;
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $oxytoc-alabaster;
    }
}

button {
    // @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;

    &:hover, &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $oxytoc-black;
    }
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
    font-size: 1em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    color: $oxytoc-black;
    font-weight: $font-weight-bold;
    line-height: 1em;
    margin: 0 0 (2em * 0.5) 0;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: $oxytoc-alabaster;
    }
}

h1 {
    font-size: 2.5em;
    line-height: 2em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.7em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 0.5em;
    font-weight: $font-weight;
}

h4 {
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 0.2em;
    font-weight: $font-weight;
    text-transform: uppercase;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

.display-none {
    display: none !important;
}

.border-separator {
    background-color: $oxytoc-blue;
    height: 2px;
    position: relative;
    width: 22px;
    display: block;
    margin: 10px 0 20px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0;
}

form {
    margin: 0 0 1em 0;
}

button.btn {
    background-color: transparent;
    @include border-radius(0.35em);
    border: solid 3px $oxytoc-black;
    color: $oxytoc-black;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    height: 3.15em;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        border-color: $oxytoc-blue;
        color: $oxytoc-blue;
    }

    &:active, &:focus {
        border-color: darken($oxytoc-blue, 10%);
        color: darken($oxytoc-blue, 10%);
        box-shadow: none;
    }
}

.image {
    border: 0;
    display: inline-block;
    position: relative;

    &:before {
        background: url("images/overlay.png");
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &.thumb {
        text-align: center;

        &:after {
            border: solid 3px rgba($white, 0.5);
            color: $white;
            content: 'CLICK';
            letter-spacing: 2px;
            display: inline-block;
            font-size: 0.8em;
            font-weight: $font-weight-bold;
            left: 50%;
            line-height: 2.25em;
            margin: -1.25em 0 0 -3em;
            opacity: 0;
            padding: 0 1.5em;
            position: absolute;
            text-align: center;
            text-decoration: none;
            top: 50%;
            white-space: nowrap;
        }

        &:hover {
            &:after {
                opacity: 1.0;
            }
        }
    }

    img {
        @include border-radius(0);
        display: block;
    }

    &.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &.avatar {
        @include border-radius(0);

        &:before {
            display: none;
        }

        img {
            @include border-radius(0);
            width: 100%;
        }
    }
}

/* ------------------------------------- */
/* 2. Loading .......................... */
/* ------------------------------------- */

.loading {
    position: fixed;
    background: $white;
    width: 100%;
    height: 100%;
    z-index: 999;

    // Uncomment this rule and the html part if you want to display your logo during the loading
    // img {
    //     position: absolute;
    //     top: -250px;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     margin: auto;
    //     width: 150px;
    // }

    .center-loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 50px;
        width: 50px;
        border: 1px solid $boulder;
        border-bottom: 1px solid $white;
        border-radius: 50%;
        @include animation(loader-rotate 0.7s linear infinite);
    }

    .center-bis-loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 25px;
        width: 25px;
        border: 1px solid $boulder;
        border-bottom: 1px solid $white;
        border-radius: 50%;
        @include animation(loader-inverse 0.7s linear infinite);
    }
}

@include keyframes(loader-rotate) {
    from {
        @include transform(rotate(0deg));
    }

    to {
        @include transform(rotate(360deg));
    }
}


@include keyframes(loader-inverse) {
    from {
        @include transform(rotate(0deg));
    }

    to {
        @include transform(rotate(-360deg));
    }
}


/* ------------------------------------- */
/* 3. Left part ........................ */
/* ------------------------------------- */

/* -------------------- */
/* 3.1 Header ......... */
/* -------------------- */

.background-left {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 110vw;
    height: 130vh;
    z-index: -10;
    top: -30vh;
    left: -100px;
}

#header {
    height: 100%;
    left: 0;
    padding: 4em 3em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 35%;

    strong, b {
        color: $oxytoc-black;
    }

    h1 {
        color: $oxytoc-blue;
        font-weight: 800;
        font-size: 3.5em;
        line-height: 1;
        margin-bottom: 10px;
        position: relative;
    }

    h2, h3, h4, h5, h6, p {
        color: $oxytoc-black;
        position: relative;
    }

    h3 {
        color: $silver;
        font-style: italic;
    }

    .image.avatar {
        margin: 0;
        width: 10em;
    }
}

.vegas-overlay {
    background: rgba($oxytoc-black, 0.7) !important;
    z-index: -1;
    position: fixed;
    height: 120%;
}

.header-fss {
    background: rgba($oxytoc-black, 0.5);
}

/* -------------------- */
/* 3.2 Footer ......... */
/* -------------------- */

#footer {
    bottom: 0;
    left: 0;
    padding: 0 3em 4em 0;
    position: fixed;
    text-align: right;
    width: $left-part-width;

    .icons {
        margin: 1em 0;

        a {
            color: $white;
            font-size: 1em;
            width: 2em;
            height: 2em;
            line-height: 2em !important;
            position: relative;
            margin: 0 5px;
            text-align: center;
            display: inline-block;
            @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));
            -webkit-backface-visibility: hidden;

            &:before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border: 3px solid $white;
                @include border-radius(1000px);
                @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));
                //@include transform(rotate(45deg));
            }

            &:hover {
                &:before {
                    background: $oxytoc-blue;
                    //@include transform(rotate(135deg));
                }
            }

            i {
                position: relative;
                top: 0;
                left: 0;
            }

            i.fa-facebook {
                left: -1px;
            }
        }
    }

    .copyright {
        color: $gallery;
        font-size: 0.6em;
        font-weight: $font-weight;
        padding: 0;

        a {
            color: $white;
            font-weight: 600;
            text-decoration: none;
            border: none;

            &:hover {
                color: $oxytoc-blue;
            }
        }
    }
}

ul {
    padding-left: 0;

    li {
        padding-left: 0;
    }

    &.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 0.3em 0 0;

            &:last-child {
                padding-right: 0;
            }

            .icon {
                &:before {
                    font-size: 1.5em;
                }
            }
        }
    }
}

/* ------------------------------------- */
/* 4. Main part ........................ */
/* ------------------------------------- */

#main {
    margin-left: $left-part-width;
    padding: 5em 4em 4em 4em;
    width: calc(100% - #{$left-part-width});
    background: rgba($white, 1);
    padding-right: 10em;

    > section {
        margin: 2em 0 0 0;
        padding: 2em 0 0 0;

        &:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
        }
    }
}

/* -------------------- */
/* 4.1 COUNTDOWN ...... */
/* -------------------- */

#countdown_dashboard {
    display: block;
    margin: 0px auto;
    overflow: hidden;

    .dash-glob {
        padding-right: 0;
        text-align: left;

        &:first-child {
            margin-left: 0;
            border-left: none;
        }

        .dash {
            padding: 10px 0;
            position: relative;
            opacity: 1;

            .digit {
                color: $oxytoc-black;
                font-family: $open-font;

                font: {
                    size: 2.7em;
                    weight: 300;
                };
                display: inline-block;
                overflow: hidden;
                text-align: center;
                height: 1em;
                line-height: 1em;
                position: relative;
                vertical-align: middle;
            }

            .dash_title {
                clear: both;
                color: $oxytoc-alabaster;
                display: block;
                font-weight: $font-weight;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 0.7em;
                line-height: 1.1em;
                width: 100%;
                padding-left: 3px;
            }
        }
    }
}

/* -------------------- */
/* 4.2 ABOUT .......... */
/* -------------------- */

.work-item {
    margin: 0 0 2em 0;
    border: 1px solid darken($oxytoc-black, 5%);
    @include border-radius(0 0 0.35em 0.35em);
    overflow: hidden;
    background: $white;

    .image {
        margin: 0;
        border-bottom: 2px solid $oxytoc-blue;
        overflow: hidden;
        background: $black;

        img {
            @include transform(scale(1));
            @include bezier-transition(all, $medium-transition, cubic-bezier(0.42, 0, 0.58, 1));
        }

        &:hover {
            img {
                opacity: 0.5;
                @include transform(scale(1.1));
            }
        }
    }

    .details {
        padding: 0.8em;

        h4 {
            font-size: 0.8em;
            font-weight: 500;
            margin: 0.5em 0 1.5em 0;
            letter-spacing: 2px;
            text-align: center;
            color: $oxytoc-black;

            small {
                font-size: 0.7em;
            }
        }

        p {
            font-weight: $font-weight;
            font-size: 0.7em;
            line-height: 1.5em;
            margin: 0;
        }
    }
}

/* -------------------- */
/* 4.3 SERVICES ....... */
/* -------------------- */

.block-services {
    .icon-services {
        font-size: 2em;
        color: $oxytoc-blue;
    }
}

/* -------------------- */
/* 4.4 PRICING ........ */
/* -------------------- */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    .td-title {
        color: $oxytoc-black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
    }

    .td-description {
        color: $oxytoc-black;
        font-size: 0.7em;
        line-height: 1.2em;
    }

    .td-price {
        color: $white;
        font-weight: 600;
        font-size: 0.8em;
        text-align: center;
        background: $oxytoc-blue;
    }

    .td-terms {
        color: $oxytoc-black;
        font-weight: 500;
        font-size: 0.8em;
        font-style: italic;
        text-align: right;
        padding: 0.75em 0;

        p {
            margin-bottom: 0;
        }
    }
}

table {
    margin: 0 0 1em 0;
    width: 100%;

    tbody {
        tr {
            border: solid 1px darken($white, 3%);
            border-left: 0;
            border-right: 0;

            &:nth-child(2n + 1) {
                background-color: darken($white, 3%);
            }
        }
    }

    td {
        padding: 0.75em 0.75em;
        vertical-align: middle;
    }

    th {
        color: $oxytoc-black;
        font-size: 0.9em;
        font-weight: $font-weight-bold;
        padding: 0 0.75em 0.75em 0.75em;
        text-align: left;
    }

    thead {
        border-bottom: solid 2px darken($white, 5%);
    }

    tfoot {
        border-top: solid 2px darken($white, 5%);
    }

    &.alt {
        border-collapse: separate;

        tbody {
            tr {
                td {
                    border: solid 2px $gallery;
                    border-left-width: 0;
                    border-top-width: 0;

                    &:first-child {
                        border-left-width: 2px;
                    }
                }

                &:first-child {
                    td {
                        border-top-width: 2px;
                    }
                }
            }
        }

        thead {
            border-bottom: 0;
        }

        tfoot {
            border-top: 0;
        }
    }
}

/* -------------------- */
/* 4.5 CONTACT ........ */
/* -------------------- */

// Some of the rules below are also used for the newsletter section

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: transparent;
    @include border-radius(0.35em);
    border: solid 2px $oxytoc-black;
    color: $oxytoc-black;
    display: block;
    outline: 0;
    padding: 0 0.75em;
    text-decoration: none;
    width: 100%;
    font-size: 0.8em;
    font-weight: 500;
    -webkit-appearance: none;

    &:invalid {
        box-shadow: none;
    }

    &:focus {
        border-color: $oxytoc-blue;
    }

    input {
        width: 300px;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em;
}

.form-group {
    margin-bottom: 30px;
}

.success-message, .error-message {
    width: 100%;
    padding: 15px 10px;
    background-color: $red-alert;

    p {
        color: $oxytoc-black !important;
        font-size: 0.8em;
        line-height: 20px;
        margin-bottom: 0;
    }
}

.success-message {
    background-color: $green-alert !important;
}

/* -------------------- */
/* 4.6 NEWSLETTER ..... */
/* -------------------- */

#newsletter {
    #notifyMe {
        padding-bottom: 0;

        .form-group {
            margin-bottom: 1em;

            input[type="text"] {
                padding: 0 0.75em;
                width: 60%;
                margin: 0 0 20px;
                color: $oxytoc-black;
                @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));

                &:hover, &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    .message {
        width: 100%;
        padding: 15px 10px;

        p.notify-valid {
            line-height: 20px;
            color: $oxytoc-black;
            font-size: 0.8em;
            margin-bottom: 0;
        }
    }

    .success-full {
        background: $green-alert;
    }

    .error {
        background: $red-alert;
    }

    .bad-email {
        background: $red-alert;
    }
}

/* -------------------- */
/* 4.7 INFO ........... */
/* -------------------- */

.block-contact {
    padding: 10px 10px 7px 55px;
    position: relative;
    margin-bottom: 30px;
    border: 2px solid $oxytoc-black;
    background: $white;
    @include border-radius(0.35em);

    .icon-contact {
        font-size: 1.5em;
        color: $oxytoc-blue;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        margin-top: -0.6em;
    }

    p {
        margin: 0;
    }
}

/* -------------------- */
/* 4.8 YOUTUBE ........ */
/* -------------------- */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

// Rules below only for the fullscreen YouTube version

.header-player {
    background: rgba($white, 0.7);
}

.youtube-controls {
    position: fixed;
    color: $oxytoc-black;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    width: 50px;
    height: 100px;
    line-height: 50px;

    i {
        cursor: pointer;
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: rgba($oxytoc-black, 0.5);
        @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));

        &:hover {
            color: $oxytoc-blue;
            background: rgba($oxytoc-black, 0.8);
            text-decoration: none !important;
            outline: none !important;
        }
    }
}

/* -------------------- */
/* 4.9 TWITTER FEED ... */
/* -------------------- */

.twitter-block {
    width: 100%;
    margin: 50px auto 0;

    ul {
        max-width: 100%;
        height: 300px;

        li {
            width: 100%;
            height: 150px;
        }
    }

    .tweet {
        width: 100%;
        height: 300px;
        padding-left: 1em;
        overflow: hidden;

        .avatar-twitter {
            width: 50px;
            margin-right: 20px;
            float: left;

            img {
                width: 50px;
                height: 50px;
                @include border-radius(50%);
            }
        }

        .screen-twitter {
            float: left;
            font-size: 0.7em;
            width: auto;
            margin-bottom: 0;

            a {
                color: $oxytoc-alabaster;
                text-decoration: none;
                border: none;
            }
        }

        .username-twitter {
            float: left;
            font-size: 0.8em;
            font-weight: 600;
            color: $oxytoc-black;
            width: 75%;
            margin-bottom: 0;
        }

        .tweet-twitter {
            color: $oxytoc-black;
            margin-bottom: 1em;
            clear: both;

            a {
                color: $oxytoc-blue;
                text-decoration: none;
                border: none;
            }
        }

        .date-twitter {
            font-family: $open-font;
            color: $clouds;
            font-size: 0.8em;
            font-weight: 600;
        }
    }
}

/* -------------------- */
/* 4.10 MAP ........... */
/* -------------------- */

#map {
    height: 500px;
    width: 100%;
    position: relative;
    color: $mine-shaft !important;

    h6 {
        font-weight: 500;
        color: $mine-shaft;
        font-size: 1em;
        margin-bottom: 0.2em;
    }

    p {
        font-weight: $font-weight;
        color: darken($dusty-gray, 20%);
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 0;
    }
}

/* ------------------------------------- */
/* 5. Venobox Gallery .................. */
/* ------------------------------------- */

.vbox-title{
    color: $white;
    background: darken($mine-shaft, 10%);
}

.vbox-close {
    @include bezier-transition(all, $medium-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    min-width: 50px;
    display: block;
    z-index: 1;
    color: $white;
    overflow: hidden;
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    padding: 6px 10px;

    &:hover {
        color: $oxytoc-blue;
        @include transform(rotate(180deg));
    }
}

.vbox-next, .vbox-prev {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    box-sizing: content-box;
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    line-height: 50%;
    color: $white;
    width: 50px;
    z-index: 0;
    text-align: center;
    height: 100%;
    overflow: hidden;

    &:hover {
        color: $oxytoc-blue;
    }

    i {
        position: relative;
        top: 50%;
        font-size: 1.5em;
    }
}

/* ------------------------------------- */
/* 6. Scroll Arrows .................... */
/* ------------------------------------- */

.scroll-top {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    position: fixed;
    right: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 48px;
    z-index: 5;

    a {
        display: block;
        width: 100%;
        height: 100%;
        color: $oxytoc-blue;
        text-decoration: none;
        outline: none;
        border: none;
        padding-top: 10px;

        &:hover {
            color: darken($oxytoc-blue, 10%);
        }
    }

    &:hover {
        margin-bottom: 10px;
    }

    .arrows-bottom {
        @include rotate(225deg);
        margin: 0 0 3px 4px;
    }
}

.arrows-part {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-top: 0;
    float: right;
    z-index: 5;
}

.arrows-bottom {
    display: block;
    width: 5px;
    height: 5px;
    @include rotate(45deg);
    border-right: 2px solid $oxytoc-blue;
    border-bottom: 2px solid $oxytoc-blue;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.first-chevron, .second-chevron, .third-chevron {
    @include animation(arrows-anim 1s infinite);
}

.first-chevron {
    @include animation-delay(0.1s);
    @include animation-direction(alternate);
    margin-top: 1px;
}

.second-chevron {
    @include animation-delay(0.2s);
    @include animation-direction(alternate);
    margin-top: -6px;
}

.third-chevron {
    @include animation-delay(0.3s);
    @include animation-direction(alternate);
    margin-top: -6px;
}

@include keyframes(arrows-anim) {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


/* ------------------------------------- */
/* 7. Media Queries .................... */
/* ------------------------------------- */

/* Large Devices, Wide Screens */
@include desktop {
    #header {
        h1 {
            font-size: 2.5em;
        }
    }

    #main {
        padding-right: 4em;
    }

    #newsletter {
        #notifyMe {
            .form-group {
                input[type="text"] {
                    width: 100%;
                }
            }
        }
    }
}


/* Notebook devices */
@include notebook {
    #header {
        padding: 1.5em 3em 3em;
    }

    #footer {
        padding: 0 3em 1.5em 0;
    }
}


/* Medium Devices, Desktops */
@include medium {
    #header {
        background-attachment: scroll;
        background-position: top left,   center center;
        background-size: auto,       cover;
        left: auto;
        position: relative;
        text-align: center;
        top: auto;
        width: 100%;

        h1 {
            font-size: 1.75em;

            br {
                display: inline;
            }
        }
    }

    #footer {
        bottom: auto;
        left: auto;
        position: relative;
        padding: 2em 0;
        text-align: center;
        width: 100%;
        background: $white;

        * {
            color: $oxytoc-black;
        }

        .icons a:before {
            border-color: $oxytoc-black;
        }

        .copyright {
            a {
                color: $oxytoc-black;
            }
            li {
                border-left-width: 1px;
                display: inline-block;
                line-height: 1em;
                margin-left: 0.75em;
                padding-left: 0.75em;
            }
        }
    }

    #main {
        margin: 0;
        width: 100%;
        padding-left: 3em;
        padding-right: 3em;
    }

    textarea {
        margin-top: 0 !important;
    }
}


/* Small Devices, Tablets */
@include tablet {
    #main {
        padding-left: 2em;
        padding-right: 2em;
    }

    #countdown_dashboard {
        .dash-glob {
            .dash {
                .digit {
                    font-size: 2em;
                    font-weight: 300;
                }

                .dash_title {
                    color: $oxytoc-alabaster;
                    letter-spacing: 1px;
                    font-size: 0.6em;
                    padding-left: 2px;
                }
            }
        }
    }

    .block-contact {
        p {
            margin: 0;
        }
    }

    .table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;

        thead {
            display: none;
        }

        tr {
            text-align: center;
            margin-bottom: 30px;
            clear: both;
            display: block;
            border: none;
            float: left;
            width: 100%;
            background: darken($white, 1%);
        }

        .td-title {
            float: left;
            width: 100%;
            padding: 0 0.75em;
        }

        .td-description {
            float: left;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0.75em;
        }

        .td-price {
            float: left;
            width: 100%;
            clear: both;
            padding: 0.1em 0.75em;
        }

        .td-terms {
            color: $dusty-gray;
            font-weight: 500;
            font-size: 0.8em;
            font-style: italic;
            text-align: right;
            padding: 0.75em 0;

            p {
                margin-bottom: 0;
            }
        }

        tfoot {
            border: none;

            tr {
                background: none;
                margin-bottom: 0;
            }
        }
    }

    button.btn {
        width: 100%;
    }

    .twitter-block {
        width: 100%;
        margin: 50px auto 0;

        ul {
            max-width: 100%;
            height: 400px;

            li {
                width: 100%;
                height: 200px;
            }
        }

        .tweet {
            height: 400px;
        }
    }
}


/* Extra Small Devices, Phones */
@include phone {
    #header {
        padding: 4em 2em;
    }

    #main {
        padding: 4em 2em;
    }

    .arrows-part, .scroll-top {
        width: 30px;
    }

    #countdown_dashboard {
        .dash-glob {
            width: 50%;

            .dash {
                .digit {
                    font-size: 2.5em;
                    font-weight: 600;
                }

                .dash_title {
                    color: $oxytoc-alabaster;
                    letter-spacing: 1px;
                    font-size: 0.6em;
                    padding-left: 2px;
                }
            }
        }
    }
}


/* Only for tablet in landscape mode */
@include landscape-tablet {}


/* Only for phone in landscape mode */
@include landscape-phone {}