// Duration.
$fast-transition: 0.2s;
$medium-transition: 0.3s;

// Size.
$left-part-width: 35%;

// Font properties
$font-family: "Open sans", Helvetica, sans-serif;
$open-font: "Raleway", Helvetica, sans-serif;

// Weight
$font-weight: 400;
$font-weight-bold: 600;

// Main colors
$white: #FFFFFF;
$black: #000000;
$shark: #2B2D35;
$oxytoc-black: #001c26;
$oxytoc-alabaster: #4d8599;
$gallery: #EFEFEF;

// Custom colors
$oxytoc-blue: #00aeef;
$torch-red: #FF1D4D;
$meadow: #1abc9c;
$buttercup: #f1c40f;
$curious-blue: #3498DB;
$zest: #e67e22;
$wisteria: #9b59b6;

// Secondary colors
$black-gloss: #292f33;
$lynch: #6C7A89;
$mine-shaft: #333333;
$alabaster: #F8F8F8;
$concrete: #F2F2F2;
$clouds: #ecf0f1;
$silver: #BABABA;
$silver-chalice: #B2B2B2;
$dusty-gray: #999999;
$boulder: #777777;
$dove-gray: #666666;
$ebony-clay: #1C202B;

// Alert forms colors
$green-alert: #27AE60;
$red-alert: #CF000F;